* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: white;
  background-color: rgb(61, 61, 61);
  padding: 3% 0 3% 3%;
  font-size: 44px;
}

h2 {
  font-size: 36px;
  color: white;
}

.article-box {
  display: flex;
  flex-direction: row;
}

.sidebar {
  background-color: rgb(219, 110, 8);
  padding: 3% 4% 5% 4%;
}

.article-text {
  display: flex;
  flex-direction: column;
  padding: 3% 4% 15% 4%;
}

.article-text h2 {
  border-style: solid;
  border-width: 0 0 1px 0;
  width: 80%;
  padding-bottom: 1%;
  color: black;
}

.article-text p {
  width: 80%;
  margin-top: 3%;
  font-size: 18px;
}

.footer {
  background-color: grey;
  padding: 3%;
}
